/*-- scss:defaults --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// font-size
$roboto: "Roboto", sans-serif;

// colors

$violet: #845a6dff;
$grey: #bfc0c0ff;
$white: #ffffffff;
$coral: #ef8354ff;
$black: #080705ff;

// define quarto variables
$body-bg: $white;
$navbar-bg: $grey;
$footer-bg: $grey;
$navbar-fg: $violet;
$navbar-hl: $coral;
$link-color: $coral;

/*-- scss:rules --*/ 

h1, h2 {
  letter-spacing: 5px;
  font-weight: 700px;
}

.title {
  color: maroon;
}

.center-text {
  text-align: center;
}

.orange-text {
  color: orange;
}

/* h1, h2, h3, h4 {
  font-family: $roboto;
} */





